# Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-versions

# Firebase
firebase_app_id_file.json
firebase-debug.log
firebase-debug.*.log
.firebase/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/captures/
android/local.properties
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradlew
**/gradlew.bat

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Web
web/.dart_tool/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Other OS stuff
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Logs
*.log

# Lock files (optional)
pubspec.lock
